Bug: wrong discovery server metadata for jwtIntrospection

Hi,

the server metadata for jwt introspection are wrong.

The [spec (currently draft 03)](https://tools.ietf.org/html/draft-ietf-oauth-jwt-introspection-response-03)  say they should be:
```
   introspection_signing_alg_values_supported  OPTIONAL.  JSON array
           containing a list of the JWS [RFC7515] signing algorithms
           ("alg" values) JWA [RFC7518] supported by the introspection
           endpoint to sign the response.

   introspection_encryption_alg_values_supported  OPTIONAL.  JSON array
           containing a list of the JWE [RFC7516] encryption algorithms
           ("alg" values) JWA [RFC7518] supported by the introspection
           endpoint to encrypt the response.

   introspection_encryption_enc_values_supported  OPTIONAL.  JSON array
           containing a list of the JWE [RFC7516] encryption algorithms
           ("enc" values) JWA [RFC7518] supported by the introspection
           endpoint to encrypt the response.
```

Currently they are exposed as:
- `introspection_endpoint_signing_alg_values_supported`
- `introspection_encryption_alg_values_supported`
- `introspection_encryption_enc_values_supported`

They are not wrong, the spec is. I’ll let torsten know. 

Or maybe not, lemme take a look. 

Thanks for pointing it out.