Enable pattern to enable all sub-domains in redirect Uris

In a multi-tenant application with dynamic subdomain allotments ( like Slack ), it's very difficult to update the redirect Uris every time.

It will be good if can set some pattern to allow all sub-domains or enable regex match for the redirect Uris.

example :- 

```
https://client.example.com/cb
https://client1.example.com/cb
https://client2.example.com/cb
```
can turn into a single pattern which matches all subdomains.

Please suggest.

This is something that the OP will not support since the spec requires a simple string comparison to be used. This is to counter several attacks mentioned in [OAuth 2.0 Threat Model and Security Considerations](https://tools.ietf.org/html/rfc6819).

From Core 1.0

> redirect_uri
> REQUIRED. Redirection URI to which the response will be sent. This URI **MUST exactly** match one of the Redirection URI values for the Client pre-registered at the OpenID Provider, with the matching performed as described in Section 6.2.1 of RFC3986 (**Simple String Comparison**).