Support for JWT Bearer (access) token?

The OAuth 2.0 RFC 6749 doesn't specify access tokens form and content:

> 1.4.  Access Token
> 
> 
>    Access tokens are credentials used to access protected resources.  An
>    access token is a string representing an authorization issued to the
>    client.  The string is usually opaque to the client.  Tokens
>    represent specific scopes and durations of access, granted by the
>    resource owner, and enforced by the resource server and authorization
>    server.
> 
>    The token may denote an identifier used to retrieve the authorization
>    information or may self-contain the authorization information in a
>    verifiable manner (i.e., a token string consisting of some data and a
>    signature).  Additional authentication credentials, which are beyond
>    the scope of this specification, may be required in order for the
>    client to use a token.
> 
>    The access token provides an abstraction layer, replacing different
>    authorization constructs (e.g., username and password) with a single
>    token understood by the resource server.  This abstraction enables
>    issuing access tokens more restrictive than the authorization grant
>    used to obtain them, as well as removing the resource server's need
>    to understand a wide range of authentication methods.
> 
>    Access tokens can have different formats, structures, and methods of
>    utilization (e.g., cryptographic properties) based on the resource
>    server security requirements.  Access token attributes and the
>    methods used to access protected resources are beyond the scope of
>    this specification and are defined by companion specifications such
>    as [RFC6750].

Some usages of access tokens needs them to be in the JWT [header].[payload].[signature] form.

I think this is not possible in the current implementation ?

From what I understand in the source code, the only implemented form is : 

[id][signature]

Where [id] are first 48 chars

oidc-provider is using jwt **internally** as a form of packing and storing the metadata, to the outside the token is intended to be opaque, not a JWT.

No plans to support JWT Bearer Tokens.

Hello panva,

Thank you for answer.
Are you making this choice based on security considerations ?

In OpenID Connect there is already a JWT returned, the ID Token, from all defined authorization flows.

Here is my understanding:

Some entities on the server side see only the the Access Token which should be of course opaque to the client.

The client is not obliged to provide the Id Token to them because, from my understanding the Id Token is not used to access services and is intended for client use only (client reads claims from it, for instance)

Access token is provided to remote services (which are not obliged to be the provider) and may contain also some identity information which are intended for server side usage (for instance, in the case of an anonymized network, the real user identity may be included in the access token, so that the server will be able to decipher it and use it internally without communicating it to the network --> access user profile, user rights, provides user specific services...).

Without network communication even a revoked jwt access token will still be used. For this very reason OAuth 2.0 Token Introspection is in place and supported by oidc-provider.

For the record, is there a specification that defines the JWT Bearer format? (payload claims, signature used etc.)

The need comes from the fact that the service may need to continue to run even if the Authorization Server is unavailable or may not be contacted temporarily by the Resource Server because of network failure or other reason.

The authentication is done as shown on the RFC 6749 Figure 2 flow.

```
  +--------+                                           +---------------+
  |        |--(A)------- Authorization Grant --------->|               |
  |        |                                           |               |
  |        |<-(B)----------- Access Token -------------|               |
  |        |               & Refresh Token             |               |
  |        |                                           |               |
  |        |                            +----------+   |               |
  |        |--(C)---- Access Token ---->|          |   |               |
  |        |                            |          |   |               |
  |        |<-(D)- Protected Resource --| Resource |   | Authorization |
  | Client |                            |  Server  |   |     Server    |
  |        |--(E)---- Access Token ---->|          |   |               |
  |        |                            |          |   |               |
  |        |<-(F)- Invalid Token Error -|          |   |               |
  |        |                            +----------+   |               |
  |        |                                           |               |
  |        |--(G)----------- Refresh Token ----------->|               |
  |        |                                           |               |
  |        |<-(H)----------- Access Token -------------|               |
  +--------+           & Optional Refresh Token        +---------------+
         
          Figure 2: Refreshing an Expired Access Token
```

I understand the revocation issue => but some times, service should just continue to run (at least for some time, until token expires) despite external conditions

I haven't seen any specification which defines this type of encoding clearly based on RFC 7519 (JWT spec) and RFC 7515 (JWS spec).

Some examples of JWT bearer access tokens can be found on others implementations

For instance:
- [https://connect2id.com/products/nimbus-jose-jwt/examples/validating-jwt-access-tokens]

Interesting SO discussion on the subject http://stackoverflow.com/questions/29710783/may-an-oauth-2-0-access-token-be-a-jwt

I will gladly revisit the topic when there is a standard defining a non-opaque (i.e. JWT formatted) access token format, until then oidc-provider will stick with the common opaque access token format, rather then creating it's own opinionated JWT bearer tokens.

> https://tools.ietf.org/html/rfc6749#section-1.4
> **1.4.  Access Token**
> Access tokens are credentials used to access protected resources.  An
> access token is a string representing an authorization issued to the
> client.  **The string is usually opaque to the client.**  Tokens
> represent specific scopes and durations of access, granted by the
> resource owner, and enforced by the resource server and authorization
> server.

OAuth2.0 Token Introspection and OpenID Connect ID Tokens (having the same expiration as access tokens) provide the required flexibility.

Do you think that providing the ID Token to the Resource Server instead of an Access Token is OK ? If this is OK, this might be a solution. But then again, the fact that the ID Token may be used to get an Access Token disturbs me a little.

I aggree with you on the fact that Access Tokens should be opaque to the client. But they may contain information anyway. The information may be encrypted using a shared key between the Authorization Server and a Resource Server.

Another example of bearer access token can be seen in the [RFC 6750 The OAuth 2.0 Authorization Framework: Bearer Token Usage] : 

https://tools.ietf.org/html/rfc6750#section-4

> 4.  Example Access Token Response
> 
>    Typically, a bearer token is returned to the client as part of an
>    OAuth 2.0 [RFC6749] access token response.  An example of such a
>    response is:
> 
>      HTTP/1.1 200 OK
>      Content-Type: application/json;charset=UTF-8
>      Cache-Control: no-store
>      Pragma: no-cache
> 
>      {
>        "access_token":"mF_9.B5f-4.1JqM",
>        "token_type":"Bearer",
>        "expires_in":3600,
>        "refresh_token":"tGzv3JOkF0XG5Qx2TlKWIA"
>      }

You can see clearly that the access token has a JWT structrue here.

> But then again, the fact that the ID Token may be used to get an Access Token disturbs me a little.

I don't get how you can use an ID Token to get yourself an access token.

> You can see clearly that the access token has a JWT structure here.

It is clear and well defined how a JWT is formed, that's not the problem, but rather the fact that there is no OAuth2.0 or OpenID Connect spec describing the claims that should be present in such a token.

> I don't get how you can use an ID Token to get yourself an access token.

Sorry, looks like I misunderstood the specification a little on this point. I have a limited understanding of all this.

So you think it would be safe to use the ID Token instead of an Access Token for the purpose that I have mentioned (even if they have a different audience) ?

I mean send the ID Token to the Resource Server (which is not the audience of this token) and get the claims information this way.

Thank you for all your answers, by the way.

> So you think it would be safe to use the ID Token instead of an Access Token for the purpose that I have mentioned (even if they have a different audience)?

It's your call, just read up on the [ID Token](http://openid.net/specs/openid-connect-core-1_0.html#IDToken) and see if it fits your needs to be used as a Bearer.

> Thank you for all your answers, by the way.

Happy to help, sorry i cannot be of more assistance on this topic, there simply isn't a specification to follow and my aim is to only implement specification-covered features.

Yes, there is not much specifications about this, I just found an RFC draft covering the subject of structured access tokens : 

https://tools.ietf.org/html/draft-sakimura-oidc-structured-token-01#section-3

Looks like it is answering my needs:

>    This specification defines a format of structured access tokens that
>    are issued by the authorization server and received by the resource
>    server. By using this format, the authorization server and the
>    resource server can be easily separated and **the validation of the**
>    **access token can be performed offline.**


I'm glad I found this issue, as I'm also looking to see claims as part of the access token. @panva, would the draft which @foucse mentioned be an option? I.e. https://tools.ietf.org/html/draft-sakimura-oidc-structured-token-01#section-3 

Hi @aldafu, oidc-provider will stick with an opaque Bearer token format.

@panva 

> I will gladly revisit the topic when there is a standard defining a non-opaque (i.e. JWT formatted) access token format, until then oidc-provider will stick with the common opaque access token format, rather then creating it's own opinionated JWT bearer tokens.

If the token is opaque, how does it matter if you allow jwt and let the user add it's own claims as needed like role, permissions, etc. It's just a format, user can use jwt as an opaque token too. Other than standard claims of JWT, rest should be left to user if he wants to add any other claim or not.

The oidc implementation I have been using in .Net Core exactly does that, why to restrict the users. Sample:

```javascript
{
  "role": "admin",
  "sub": "2944285b-46d0-4a7f-9813-627eb1064a4c",
  "tenantid": "6e6443aa-556f-4862-90bc-a043e15b48d9",
  "usage": "access_token",
  "jti": "596c5b9c-b67d-4615-ba82-9965e52c823a",
  "scope": [
    "openid",
    "offline_access"
  ],
  "aud": "https://api.advostack.com",
  "nbf": 1499965493,
  "exp": 1499969293,
  "iat": 1499965493,
  "iss": "http://api.advostack.com/"
}
```

Other than the standard jwt claims, rest are added by user

@adnan-kamili 

> If the token is opaque, how does it matter if you allow jwt and let the user add it's own claims as needed like role, permissions, etc.

If the token is to be opaque then it cannot be a JWT, those two are mutually exclusive.

Opaque token does not allow anyone in possession of the token to guess or infer its claims and metadata (such as who issued it and for whom or which subject its for). Using a JWT structured token without decoding its claims is hardly the same thing.

I didn't mean it that way. Anyways, inability to create jwt access tokens is sort of a deal breaker for us. 

I hope you will add support for it some day, till then will have to look for some other oidc library.

> I didn't mean it that way. Anyways, inability to create jwt access tokens is sort of a deal breaker for us.
>
> I hope you will add support for it some day, till then will have to look for some other oidc library.

Should be rather [easy](http://openid.net/certification/) to find what you're looking for, I'm certain.

@panva What about keeping the Access Token opaque by default and support it as is, but allowing somehow to be replaced by JWT or whatever else form programmatically.

As far as I understand looking in the code the access token just needs to implement an interface, so I guess it can be serialized in many ways.

Allowing to configure/replace the class AccessToken (perhaps even possible already) should be easy.

#### Just a bit more of motivations

I understand your point, and for now, we are using token introspection.

But for few upcoming use cases, I'm quite concerned that the lack of self-contained access token will cause tons of ping-pong back and forth to the auth server.

We are ending up with the ID token to be passed down and around, which in my opinion is an even worse violation of the standard, also the ID token would contain all the claims the client obtained while to grant access to RP to other components an AT would contain only some specific claims (maybe just the sub, and some roles).

For us is not a big deal if an access token doesn't get immediately revoked, is good enough if expiration is short and AT is eventually revoked in a short amount of time.

After all, as you quoted before the token is "usually" opaque, not exclusively and always.

*Update 2017-09-29*

I'm playing around with some new optional features and just realised (and test) it's going to be pretty easy to change access tokens to be valid JWTs should you want to, any issued token for that matter.

[my POC](https://gist.github.com/panva/a6d28fecfeb84a4cdfa0e90e02d1e8b6)

For now this requires the non published feature from feature/optional-integrity branch.

It is a sideproduct of refactoring the way tokens are serialized and verified to allow for token integrity support where the OP DB does not have all the details to reconstruct the client tokens. Still not sure i like this as standard.

just thought this might be useful to some.

We are already doing something quite similar and it works for us in current version, but it would be nice to have some "official" way.
[gist](https://gist.github.com/jakubriedl/1de31bc6c438fa65842c92b6aa2b753a)

Also note: because of compatibility reasons with our older services we need some other fields in root of Access Token. Because of that, you can find passing values through `_authorization` in `getTokenData`


What still remains is my concern of Access Tokens being misused as id token hints, for that reason i'm going to strong type the Access Token JWT and reject them if used as ID Token.

That is understandable. In our case we are using JWT ATs because Resource Server is able to verify it without need to contact OIDC service. We are not transporting any other information through it then AccountId (in new RS).

A heads up,

I decided not to publish this "official" since even for a very simple looking feature like this i get 10 different opinions from 5 developers. Instead i will declare some of the refactored base token api as public, this way you have a stable enough way to achieve this. For those already overloading the prototype functions of `find` and `save` this shouldn't break anything.

https://github.com/panva/node-oidc-provider/blob/a275f9f/lib/models/base_token.js#L107-L145

This API can be used to i.e. issue JWT access tokens only, keeping the rest as-is with 
```js
provider.AccessToken.prototype.getValueAndPayload = ...
provider.AccessToken.prototype.constructor.getJtiFromToken = ...
provider.AccessToken.prototype.constructor.verify = ...
```

or change all tokens with 

```js
provider.BaseToken.prototype.getValueAndPayload = ...
provider.BaseToken.prototype.constructor.getJtiFromToken = ...
provider.BaseToken.prototype.constructor.verify = ...
```

Nice, can you add some usage example to `/example` so future developers will know how to implement the feature?

I'll give it my best shot.

Any chance getting some implementation examples for this. I've looked at your POC, but it seems to fail on the getValueAndPayload return for access token due to it being formatted as a string. When "save" is called grant id can't be applied. I've tried splitting the token, but when I do this it completes, but doesn't actually return the token.

#294 introduces the option to have any token returned to an RP as a JWT. Calling for comments and reviews.