Microsoft vcclient://openid url breaks `redirectUris`

Microsoft Authenticator requires to redirect to `vcclient://openid` url I tried [this](https://github.com/panva/node-oidc-provider/issues/820) approach but seems like it breaks [here](https://github.com/panva/node-oidc-provider/blob/master/lib/helpers/client_schema.js#L577-#L580) If I remove that if on the default it works just fine. Is there a way to override that `redirectUris` method w/o having to override the whole Schema class? May this be a feature request perhaps? I could send a PR if that's the case.

I'm afraid the BCP (and OAuth 2.1 draft pulling this exact text as well) could not be more clear.

    When choosing a URI scheme to associate with the app, apps MUST use a
    URI scheme based on a domain name under their control, expressed in
    reverse order, as recommended by Section 3.8 of [RFC7595] for
    private-use URI schemes.

    For example, an app that controls the domain name "app.example.com"
    can use "com.example.app" as their scheme.  Some authorization
    servers assign client identifiers based on domain names, for example,
    "client1234.usercontent.example.net", which can also be used as the
    domain name for the scheme when reversed in the same manner.  A
    scheme such as "myapp", however, would not meet this requirement, as
    it is not based on a domain name.

Specifically, that apps **MUST** use a URI scheme based on a domain name under their control.

So it would seem you will have to overload the `provider.Client.Schema.prototype.redirectUris` method and maybe bug the developer of `vcclient://` to conform to the BCP.

The overload is simple.

```js
provider.Client.Schema.prototype.redirectUris = function redirectUris () {
  if (!this.redirect_uris.includes('vcclient://openid')) {
    return orig.call(this);
  }

  const i = this.redirect_uris.indexOf('vcclient://openid');
  this.redirect_uris.splice(i, 1); // remove it
  orig.call(this); // to still validate other uris in the list
  this.redirect_uris.push('vcclient://openid'); // put it back
}
```

Please consider [supporting](https://github.com/panva/node-oidc-provider?sponsor=1) the library if it provides value to you or your company and this or the previous support was of help to you. Supporting the library means, amongst other things, that such support will be available in the future.