Access Token introspection: token_type semantic

Hey, I just noticed that the `token_type`returned by the introspection endpoint takes one of the following values:

- access_token
- refresh_token
- client_credentials

(source: https://github.com/panva/node-oidc-provider/blob/master/lib/actions/introspection.js#L113-L126)

However, this conflicts a bit with the `token_type` returned when creating a token (where values are in that case `bearer` or `mac`). Also, if we refer to the introspection specs:

https://tools.ietf.org/html/rfc7662#section-2.2

It also suggests to keep the same semantic for the `token_type` than the one defined in the original OAuth 2.0 RFC 6749. Furthermore, if we consider this endpoints for being about the introspection of access tokens, it feels wrong to be able to also introspect refresh tokens. 

What would you think of aligning the `token_type` with the actual token type and returns a value among `bearer` or `mac` ?

Interesting about `token_type`, never occured to me.

> Furthermore, if we consider this endpoints for being about the introspection of access tokens, it feels wrong to be able to also introspect refresh tokens.

The introspection endpoint is not only for introspecting access tokens as suggested by the presence and registry reference of `token_type_hint`, with that in mind, are there different means for the introspection endpoint to communicate the token type (access/refresh, ...)?

You can see how one might overlook the actual token_type when the endpoint also includes token_type_hint with values access_token, refresh_token, etc... right?

Reading a bit more in depth the RFC 7662, it seems that indeed, the introspect endpoint was thought with both refresh tokens and access tokens in mind.

>  **token**
> REQUIRED.  The string value of the token.  For access tokens, this
      is the "access_token" value returned from the token endpoint
      defined in OAuth 2.0 [RFC6749], Section 5.1.  For refresh tokens,
      this is the "refresh_token" value returned from the token endpoint
      as defined in OAuth 2.0 [RFC6749], Section 5.1.  Other token types
      are outside the scope of this specification

 This `token_type_hint` is also rather misleading. Possible values are described in [RFC 7009](https://tools.ietf.org/html/rfc7009#section-2.1) and match node-oidc-provider (provided we consider `client_credentials` as implementation-specific extension).

Though, I'd rather stick with this wording also in the introspection response.  What about adding a `token_type_hint` to the response with values matching the optional `token_type_hint` from the request, and giving `token_type` the same semantic as per RFC 6749 (`bearer` or `mac`). This seems not to be an issue with the introspection RFC:

>  Specific implementations MAY extend this structure with their own
   service-specific response names as top-level members of this JSON
   object. 

And provide a rather consistent API across those specifications... 





Are actually running into issues due to the token_type values? 

well, not any "issues" indeed, though I would rather have a correct implementation. Since I, heavily rely on node-oidc-provider, I'd prefer to submit a patch instead of patching my api.


So i'm actually leaning towards out right removing the property. I don't find it critical and would not do that until 3.x. If you wish to remove the claim from your instance it's as simple as 

```js
provider.app.middleware.unshift(async function(ctx, next) {
  await next();

  if (ctx._matchedRouteName === 'introspection') {
    ctx.body.token_type = undefined;
  }
}
```

Thanks for the update! I am not necessarily on a hurry either, so I'd simply grap the 3.x when released :+1:

I saw that this change was implemented in v4.
How would you suggest to distinguish between client_credentials tokens and "user" access token? One option would be to include some specific scope for the client_credentials that's not available to end users.. are there any other options?