Feature request: support hash in redirect_uri for Single Page Apps

**Is your feature request related to a problem? Please describe.**
I am unable to specify a hash in the redirect URI in order to mount the OIDC flow on a nested client-side route such as `<host>/#/login/callback`.

**Describe the solution you'd like**
If oidc-provider allowed redirect URIs with a hash, it would provide the ability to specify client-side routes in the redirect URI for SPAs. For example: 'https://app.com/#/login/callback'.

**Describe alternatives you've considered**
Alternatives I've tried include forking the node-oidc-provider library or enabling HTML5 routing in the SPAs.

**Additional context**
The [angular-oauth2-oidc](https://www.npmjs.com/package/angular-oauth2-oidc) library describes the usage of a nested route here: [link](https://manfredsteyer.github.io/angular-oauth2-oidc/docs/additional-documentation/routing-with-the-hashstrategy.html). This is currently not possible with the `node-oidc-provider`'s implicit flow.

 - [x] i have searched the configuration section for this feature and couldn't find it
 - [x] i have searched the issues tracker on github for similar requests and couldn't find anything related.


Can't do that, see https://tools.ietf.org/html/rfc6749#section-3.1.2

> The redirection endpoint URI MUST be an absolute URI as defined by
> [RFC3986] Section 4.3.  The endpoint URI MAY include an
> "application/x-www-form-urlencoded" formatted (per Appendix B) query
> component ([RFC3986] Section 3.4), which MUST be retained when adding
> additional query parameters.  __The endpoint URI MUST NOT include a
> fragment component.__