Allow query part in redirect_uri

Currently when validating the redirect_uri, it should [match exactly](https://github.com/panva/node-oidc-provider/blob/master/lib/models/client.js#L270). Is it possible to exclude the query from the verification?
I'm basing this on:
https://tools.ietf.org/html/rfc6749#section-3.1.2

> The redirection endpoint URI MUST be an absolute URI as defined by
   [RFC3986] Section 4.3.  The endpoint URI MAY include an
   "application/x-www-form-urlencoded" formatted (per Appendix B) query
   component ([RFC3986] Section 3.4), which MUST be retained when adding
   additional query parameters.  The endpoint URI MUST NOT include a
   fragment component.

What i'm trying to achieve:
A user tries to land on a page deep on the site. He is not authenticated therefore is redirected to the OP. When he goes back i want to redirect him to the original page that he intended to go to.
I thought about doing this using the redirect_url and to specify it as:
`http://example.com/cb?returnTo=<pathInSite>` but it fails to validate the redirect_uri.


@slavab89 yes the URI may contain query paremeters, but they must be pre-registered and the whole URI is compared using strict equal comparison. This is defined by Core 1.0 and is also tested for by the certification suite.

You may want to use the state parameter to transfer RP-state related details. This draft may be of use to you - https://tools.ietf.org/html/draft-bradley-oauth-jwt-encoded-state-07

Understood. I'll look into the state parameter.

Just want to verify that i'm the right track and i understand correctly and hope that you'll be able to help me.
Based on what i understand, the client sends some a JWT that represents the state. Can i create it using [requestObject](https://github.com/panva/node-openid-client/blob/master/lib/client.js#L884)?
- `rfp` value can be some generated uuid that's saved on the client's session for example?
- What should be the `kid` value? In case i create the JWT at the client, should it be empty? The text there says it should be an identifier that the issuer used to sign the token.
- `target_link_uri` is what i want to contain the user endpoint
- `jti` another randomly generated value that can be saved on the session? Or something else that's recommended?
- When the `example.com/callback` endpoint is called, the state is available in the query and i should verify it, using which key? Should i write my own function to verify the `requestObject` token?
- As i understand, the state can be signed by the issuer as well? Is that capability supported? Do i even need it?

> As i understand, the state can be signed by the issuer as well? Is that capability supported? Do i even need it?

The OP only passes on the state as it received, no signing on the way back.

> i should verify it

Yes, if you're going to be putting target URL in there you should.

> using which key

Your call.

So i was able to sign and verify the JWT - had to bind the method to the `client` instance because i needed access to the [joseSecret](https://github.com/panva/node-openid-client/blob/master/lib/client.js#L614) function to get the key.

i was trying to also encrypt it but failed to decrypt it (picked the alg and enc pretty randomly)
Trying to get the same key as used for the encryption but it still fails
I'm creating the JWT with [requestObject](https://github.com/panva/node-openid-client/blob/master/lib/client.js#L884).
```js
return this.issuer.key({
    alg: 'ECDH-ES',
    enc: 'A128CBC-HS256',
    use: 'enc',
  }, true)
    .then(key => {
      return jose.JWE.createDecrypt(key).decrypt(token)
        .then(result => result.payload.toString('utf8'));
    });
```

This is failing with `no key found` message.

What am i missing?

you can encrypt for the OP with its public key, but you can't decrypt with the OP's public key... i don't get what you're trying to do ;) and it doesn't belong here anymore - this is no OP problem.

Thanks, figured it out. I was trying to use the `requestObject` function to create a JWT for the state (only the state) which of course should be used for the whole request, and not just the state.
In any case, i've changed it so that i have a different function (not related to oidc-client) that creates the JWT for only the state param and i hold all the keys etc.

Thanks :)