Removing scope when RP use refresh token

Hi,

We would like to remove some scope from the access_token when this one is generated with refresh_token.
For example :
1 - Client get the access_token with scope ['A', 'B', 'C'] from the token endpoint with the code
2 - Then the Client get the access_token with scope ['A', 'B'] from the token endpoint using the refresh_token

Is there a way to do this ?
(We tried to use pre- and post-middlewares to achieve this unfornunately with no success :( )

https://tools.ietf.org/html/rfc6749#section-6

Hi,

Thank you for the quick response, but I think the question was not clear.

We would like to restrict the scope of the RT at OP level when it is issued, in order to implement the [PSD2 STET framework](https://www.stet.eu/assets/files/PSD2/1-4-2/api-dsp2-stet-v1.4.2.18-part-1-framework.pdf) (§3.4.3.3). This major framework stipulates that the `extended_transaction_history` scope must be returned only in the initial AT but not in the refreshed AT.

This seems compatible with the [RFC 6742 §3.3](https://tools.ietf.org/html/rfc6749#section-3.3)

We are looking for a way to implement it as cleanly as possible.

Hi @EdouardPauw,

thanks for coming back with a clarification. That was not clear to me from your initial description.

There are a number of ways you can achieve this, e.g. through your adapter interface, or through the various emitted events. If you'd like to get more detailed solution description, or even an example for your problem please have your company [sponsor](https://github.com/panva/node-oidc-provider?sponsor=1) the library.